body {
	font-family: $mainFont;
	background: $steelBlue;
	color: $lightGray;
}

#{headings()} {
	font-family: $mainFont;
	color: $lightGray;
	font-weight: $bold;
}

strong {
	font-weight: $bold;
}

p {
	font-weight: $normal;
	padding-bottom: 10px;
}