/**
******************
* Main styling variables *
* All variable used in the website *
* Such as colours, fonts, font styles etc. *
******************
**/

/* ----------------
   COLOUR PALETTE
-------------------*/

$white 			:	#ffffff;
$lightGray 		:	#e6e6e6;
$creamCan		:	#F5D76E;
$steelBlue		:	#4b77be;
$dark			:	#1c1c1c;

/* ---------------
  FONT VARIABLES
------------------*/

$logoFont	:	'Martel Sans', Arial, Helvetica, sans-serif;
$mainFont	:	'Open Sans', Arial, Helvetica, sans-serif;

$normal 	: 400;	
$bold 		: 600;
$heavy 		: 700;

/* ---------------
   BREAKPOINTS
------------------*/

$wide		:	1200px; //Desktop
$large		:	992px; //Laptop/iMac/Macbook
$mediumMax	:	991px; //Ipads Max Screens to Laptop Screens
$medium		:	768px; //Ipads
$small		:	480px; //Mobile